img
{
    width: 350px;
    height: 100px;
    margin-top: 20px;
    margin-left: 350px;
    padding: 20px;
    background-color:grey;
    opacity: 1;
}

.container
{
    margin-left: 50px;
}
